body {
  background-color: #ffffff;
}

input, button, submit {
  border:none;
} 

@media (max-width: 1999px) {
  body {
    font-size: 1.3vw;
  }

  #title_editor {
    text-align: center;
    padding-top: 1.3vw;
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 3vw;
  }

  #title_editor {
    text-align: center;
    padding-top: 3vw;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 5vw;
  }

  #title_editor {
    text-align: center;
    padding-top: 5vw;
  }
}

@media (min-width: 2000px) {
  body {
    font-size: 2vw;
  }

  #title_editor {
    text-align: center;
    padding-top: 2vw;
  }
}

rect {
  fill: #ebedf0;
}

.today {
  stroke-width: 3px;
}

h3 {
  text-align: center;
}

#switch_buttons {
  text-align: center;
}

button {
  font-size: inherit;
}

input {
  font-size: inherit;
}

#tooltip {
  background: cornsilk;
  border: 1px solid black;
  padding: 1vw;
  border-radius: 0.5vw;
}

.panel-element {
  color: #eee;
}

.panel-btn {
  background: #000;/*#25292e;*/
  height: 100%;
  aspect-ratio: 1;
}

#panel {
  background: #25292e;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  padding: 0;
  border: 0;
  display: none;
  justify-content: space-around;
  align-items: center;
}

#sync_code {
  color: green;
}

#sync_error {
  color: red;
}